.progress-bar-container {
  width: 100%; /* Set the width of the container */
  height: 5px; /* Set the height of your progress bar */
  background-color: red; /* Set the initial background color to red */

  top: 50%; /* Adjust to position vertically */
  left: 0; /* Start from the left edge */
  transform: rotate(-24deg); /* Rotate and center the progress bar */
}

.progress-bar {
  height: 100%; /* Set the height to 100% to fill the container */
  background-color: blue; /* Set the color of your progress bar to blue */
  width: 0; /* Start with 0 width (hidden) */
  transition: width 0.5s; /* Add a transition for smooth width changes */
}